<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SM\DemoOrder\Api\Data\OrderInterface" type="SM\DemoOrder\Model\Order"/>
    <preference for="SM\DemoOrder\Api\Data\OrderItemInterface" type="SM\DemoOrder\Model\OrderItem"/>
    <preference for="SM\DemoOrder\Api\Data\ShippingAddressInterface" type="SM\DemoOrder\Model\ShippingAddress"/>
    <preference for="SM\DemoOrder\Api\Data\CreateOrderResultInterface" type="SM\DemoOrder\Model\CreateOrderResult"/>
</config>
