<%- include('../header'); -%>
<div class="container">
    <div class="forgot-container">
        <div class="title-contaner">
            <h3 class="title-content">Forgot password</h3>
        </div>
        <div class="form-forgot-password">
            <form method="POST" id="main-form" action="/account/forgot-password">
                <div class="password-error-message">
                    <% if(error){ %>
                        <p class="message" style="color:red"><%= error %></p>
                    <% }else{ %>
                        <label class="label-for-input" for="email-input">Type your email for reset password</label>
                    <% } %>
                </div>
                <input 
                    class="field"
                    type="email" 
                    id="email-input"
                    name="email" 
                    placeholder="Email"
                    required>
                <input type="submit" class="button" id="submit-btn" value="Reset"></button>
            </form> 
        </div>
        <div class="another-action">
            <a href="/account/login/">Login</a>
            <a href="">Register</a>
        </div>
    </div>
</div>
<%- include('../footer'); -%>