<%- include('../header'); -%>
<div class="container">
    <div class="login-container">
        <div class="title-contaner">
            <h3 class="title-content">Login</h3>
        </div>
        <div class="form-login">
            <form method="POST" id="main-form" action="/account/login">
                <div class="error-message">
                    <% if(error == 1){ %>
                        <p class="message" style="color:red">Email or password is incorrect!</p>
                    <% } %>
                    <% if(msg){ %>
                        <p class="message" style="color:red"> <%- msg -%></p>
                    <% } %>
                </div>
                <!-- <label class="label-for-input" for="email-input">Email</label> -->
                <input 
                    class="field"
                    type="email" 
                    id="email-input"
                    name="email" 
                    placeholder="Email"
                    required>
                <!-- <label class="label-for-input" for="password-input">Password</label> -->
                <input 
                    class="field"
                    type="password" 
                    id="password-input"
                    name="password"
                    placeholder="Password"
                    required>
                   
                <input type="submit" class="button" id="submit-btn" value="Login"></button>
            </form> 
        </div>
        <div class="another-action">
            <a href="/account/forgot-password/">Forgot Password?</a>
            <a href="">Register</a>
        </div>
    </div>
</div>
<%- include('../footer'); -%>