
</div>
<!-- Overlay-->
<div class="menu-overlay"></div>


<!-- jQuery  -->
<script src="/public/assets/js/jquery.min.js"></script>
<script src="/public/assets/js/bootstrap.bundle.min.js"></script>
<script src="/public/assets/js/metismenu.min.js"></script>
<script src="/public/assets/js/waves.js"></script>
<script src="/public/assets/js/simplebar.min.js"></script>

<!-- Morris Js-->
<script src="/public/assets/plugins/morris-js/morris.min.js"></script>
<!-- Raphael Js-->

<!-- Morris Custom Js-->
<!-- <script src="/public/assets/pages/dashboard-demo.js"></script> -->

<!-- App js -->
<script src="/public/assets/js/theme.js"></script>
<!-- DataTable -->
<script src="/public/assets/datatable-1.10.20/DataTables-1.10.20/js/jquery.dataTables.js"></script>
<script src="/public/assets/datatable-1.10.20/DataTables-1.10.20/js/dataTables.bootstrap4.js"></script>
<script src="/public/assets/plugins/sweetalert2/sweetalert2.min.js"></script>
<script src="/public/assets/plugins/sweetalert2/sweetalert2.min.js"></script>

<!-- TOAST -->
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

<!-- Socket.io -->
<script src="/socket.io/socket.io.js"></script>
<!-- 87 -->
<% if (pageCode == 'sales-order') { %>
    <script src="/public/assets/js/admin/sales-order-index.js"></script>
<% } %>
   
</body>

</html>